html{
    background-color: yellow;
    text-align: center;
}
#main_site{
    background-color: springgreen;
    margin: 1%;
    padding: 0.1%;
    width: 98%;
    height: 98%;
}

#menu{
    background-color: blue;
    margin: 1%;
}

h1{
    background-color: red;
    margin: auto;
    padding: 10px;
}

#after_divs{
    background-color: blueviolet;
    margin: auto;
}

#config_menu{
    float:left;
    text-align: left;
    background-color: green;
    padding: 1.5%;
    width: 22%;
    height: 30%;
    margin: 2%;
    position: absolute;
    top: 18.6%;
    left: 0.6%;
}
#list{
    margin: auto;
    height: 50%;
    width: 45%;
    background-color: violet;
}

button{
    padding: 10px;
    margin: 10px;
}
#config{
    float: left;
}
#more{
    margin-left: 70px;
    margin-right: 20px;
}
#delete{
    margin-left: 20px;
}
#download{
    float: right;
}
#config_menu input{
    margin: 12px;
}
