html{
    background-color: yellow;
    text-align: center;
}
body{
    background-color: springgreen;
    padding: 0.1%;
    width: 98%;
    height: 98%;
}

#menu{
    background-color: blue;
}

h1{
    background-color: red;
    margin: auto;
    padding: 1%;
}

#after_divs{
    background-color: blueviolet;
    margin: auto;
}

#config_menu{
    float:left;
    text-align: left;
    background-color: green;
    padding: 1.5%;
    width: 29%;
    height: 35%;
}
#list{
    margin: auto;
    height: 50%;
    width: 35%;
    background-color: violet;
}
ul{
    padding: 1%;
    margin: 0%;
}
#quantity{
    width: 20%;
}
button{
    padding: 1%;
    margin: 1%;
}
#config{
    float: left;
}
#download{
    float: right;
}
footer{
    padding: 1%;
    background-color: brown;
    margin-top: calc(16px + 1%);
}